main.py
__pycache__
*.pyc
.git
.github
notebooks
tests
data
models
whisper/
*.md
*.txt
!requirements_light.txt
!main_light.py
.gitignore
.gitattributes
.flake8
.pre-commit-config.yaml
MANIFEST.in
pyproject.toml
SETUP.md
test_whisper.py
approach.png
language-breakdown.svg
LICENSE
CHANGELOG.md
activate_whisper.sh
